.speech{
font-size: large;
color: black;
}

.direction:hover{
font-size: large;
color: black;
background-color: lightblue

}

.name{
font-size: larger;
color: black;
}

.tri{
color: red;
}

.phi{
color: green;
}

.bel{
color: blue;
}

.arm{
color: yellow;
}

th, td {
border: 1px solid black;
text-align: center;
padding: 12px;
margin: 1in;
}

th {
    background-color: limegreen;
}

tr:nth-child(even){
    background-color: gainsboro;
}